<section class="advantages">
  <div class="advantages__container container">
    <div class="advantages__inner">
      <p class="advantages__title title">Преимущества и особенности</p>

      <div class="advantages__swiper swiper">
        <div class="advantages__swiper-wrapper swiper-wrapper">
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Хороший <br />профиль безопасности</p>
                <div class="advantages__slide-num">04</div>
              </div>
              <p class="advantages__slide-text">
                Подтвержденный клиническими исследованиями профиль безопасности делает его предпочтительным выбором для широкого
                круга пациентов, включая тех, кто имеет ограничения к использованию других лекарственных средств<sup>[2]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Уменьшение <br />боли и улучшение <br />подвижности суставов</p>
                <div class="advantages__slide-num">01</div>
              </div>
              <p class="advantages__slide-text">
                Амбене® Хондро доказал свою способность значительно снижать интенсивность боли. Более того, препарат улучшает
                функциональное состояние суставов, возвращает пациентам радость движения и повышает качество их жизни
                <sup>[1]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">
                  Минимизация <br />использования <br />нестероидных <br />противовоспалительных<br />
                  препаратов (НПВП)
                </p>
                <div class="advantages__slide-num">02</div>
              </div>
              <p class="advantages__slide-text">
                Благодаря своему патогенетическому действию, препарат снижает потребность в обезболивающих средствах, уменьшая
                риск их побочных эффектов<sup>[2]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Длительный <br />структурно-<br />модифицирующий эффект</p>
                <div class="advantages__slide-num">03</div>
              </div>
              <p class="advantages__slide-text">
                Создавая достаточную концентрацию в хрящах, препарат оказывает длительное структурно-модифицирующее воздействие,
                что способствует восстановлению и поддержанию здоровья суставов на протяжении долгого срока после окончания
                лечения<sup>[3]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Хороший <br />профиль безопасности</p>
                <div class="advantages__slide-num">04</div>
              </div>
              <p class="advantages__slide-text">
                Подтвержденный клиническими исследованиями профиль безопасности делает его предпочтительным выбором для широкого
                круга пациентов, включая тех, кто имеет ограничения к использованию других лекарственных средств<sup>[2]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Уменьшение <br />боли и улучшение <br />подвижности суставов</p>
                <div class="advantages__slide-num">01</div>
              </div>
              <p class="advantages__slide-text">
                Амбене® Хондро доказал свою способность значительно снижать интенсивность боли. Более того, препарат улучшает
                функциональное состояние суставов, возвращает пациентам радость движения и повышает качество их жизни
                <sup>[1]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">
                  Минимизация <br />использования <br />нестероидных <br />противовоспалительных<br />
                  препаратов (НПВП)
                </p>
                <div class="advantages__slide-num">02</div>
              </div>
              <p class="advantages__slide-text">
                Благодаря своему патогенетическому действию, препарат снижает потребность в обезболивающих средствах, уменьшая
                риск их побочных эффектов<sup>[2]</sup>.
              </p>
            </div>
          </div>
          <div class="advantages__swiper-slide swiper-slide">
            <div class="advantages__slide-inner">
              <div class="advantages__slide-title-box">
                <p class="advantages__slide-title">Длительный <br />структурно-<br />модифицирующий эффект</p>
                <div class="advantages__slide-num">03</div>
              </div>
              <p class="advantages__slide-text">
                Создавая достаточную концентрацию в хрящах, препарат оказывает длительное структурно-модифицирующее воздействие,
                что способствует восстановлению и поддержанию здоровья суставов на протяжении долгого срока после окончания
                лечения<sup>[3]</sup>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
