<section class="banner">
  <div class="banner__container container">
    <div class="banner__inner">
      <p class="banner__logo">АМБЕНЕ® ХОНДРО</p>
      <p class="banner__title">Что такое Амбене® Хондро?</p>
      <div class="banner__bg-wrapper">
        <div class="banner__bg-box">
          <img src="./assets/images/bannerBg.png" alt="" />
        </div>
        <div class="banner__bg-el-box">
          <img src="./assets/images/bannerBgEl.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
