<section class="indicators">
  <div class="indicators__container container">
    <div class="indicators__inner">
      <p class="indicators__title title">Клинические исследования и показатели эффективности</p>
      <div class="indicators__text-box text-box">
        <p>
          Результаты различных исследований подтверждают выраженный клинический эффект и надежность препарата Амбене® Хондро при
          лечении дегенеративных заболеваний суставов.
        </p>
      </div>

      <div class="indicators__billets-box">
        <div class="indicators__billet">
          <div class="indicators__billet-svg-wrapper">
            <div class="indicators__billet-svg-box">
              <img src="./assets/images/ribbon.svg" alt="" />
            </div>
          </div>
          <p class="indicators__billet-text">Клинически доказано</p>
        </div>
        <div class="indicators__billet">
          <div class="indicators__billet-svg-wrapper">
            <div class="indicators__billet-svg-box">
              <img src="./assets/images/secure.svg" alt="" />
            </div>
          </div>
          <p class="indicators__billet-text">Безопасно</p>
        </div>
        <div class="indicators__billet">
          <div class="indicators__billet-svg-wrapper">
            <div class="indicators__billet-svg-box">
              <img src="./assets/images/like.svg" alt="" />
            </div>
          </div>
          <p class="indicators__billet-text">Эффективно</p>
        </div>
      </div>

      <div class="indicators__text-box text-box">
        <p>
          Так, в исследовании, выполненном у лиц с остеоартритом коленных суставов на фоне дисплазии соединительной ткани, и
          принимающих препарат Амбене®, результаты показали убедительное снижение интенсивности боли уже после месяца приема.
          Также было выявлено значимое улучшение по шкалам, оценивающие мобильность и функциональность суставов <sup>[1]</sup>.
        </p>
        <p>
          А другое исследование, под названием КАЛИБРИ, в котором изучали эффективность и безопасность Амбене® Хондро при лечении
          остеоартрита, продемонстрировало уменьшение боли и улучшение функциональности суставов. Исследование также подтвердило
          безопасность Амбене® и отсутствие серьезных побочных эффектов <sup>[2]</sup>.
        </p>
      </div>
    </div>
  </div>
</section>
