<section class="mechanism">
  <div class="mechanism__container container">
    <div class="mechanism__inner">
      <p class="mechanism__title title">Механизм действия</p>
      <div class="mechanism__text-box text-box">
        <p>
          Амбене® Хондро, содержащий активный компонент хондроитин сульфат, оказывает комплексное влияние на механизмы развития
          остеоартрита.
        </p>
        <p>
          Хондроитин сульфат способствует репарации структуры хрящей, стимулируя производство протеогликанов и коллагена,
          которыенеобходимы для оптимальной прочности и эластичности хряща. Кроме того, он ингибирует активность ферментов,
          разрушающих ткань хрящей, а также снижает образование воспалительных медиаторов, что приводит к снижению болевого и
          воспалительного синдрома в суставах<sup>[3]</sup>.
        </p>
      </div>

      <div class="mechanism__img-box">
        <img src="./assets/images/mechanismImg.png" alt="" />
      </div>
    </div>
  </div>
</section>
