<section class="what">
  <div class="what__container container">
    <div class="what__inner">
      <p class="what__title title">Что такое Амбене® Хондро?</p>
      <div class="what__text-box text-box">
        <p>
          Амбене® Хондро является современным препаратом, разработанным <span>специально</span> для облегчения симптомов и лечения
          дегенеративных заболеваний суставов.
        </p>

        <p>
          Он сочетает в себе активные компоненты, направленные на <span>восстановление</span> хрящей и
          <span>снижение воспалительного процесса</span> в суставах <sup>[3]</sup>.
        </p>

        <p>
          Препарат разработан на основе последних научных исследований в области ревматологии и рекомендован для использования в
          составе <span>комплексной терапии</span> остеоартрита и остеохондроза<sup>[1]</sup>.
        </p>
      </div>

      <div class="what__img-box">
        <img src="./assets/images/whatImg.png" alt="" />
      </div>
    </div>
  </div>
</section>
